.welcome-section {
  display: flex;
  text-align: center;
  padding: 200px 0;
  background-color: $backgroundBlockColor;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 50%
    ),
    url(../images/designers-in-the-office.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    color: $jointColor;
  }
}

.button--welcome-section {
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 10px 41.5px;
}
