body {
  font-family: $primaryFont;
  color: $primaryColor;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.welcome-section {
  @include tablet {
    padding: 60px 0;
  }
  @include desktop {
    padding: 94px 0;
  }
}

section {
  padding: 94px 0;
}

.button {
  background-color: $decorColor;
  color: $jointColor;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}
